@use '../../styles/variables' as *;

.player-controls-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    user-select: none;

    .music-progress-bar {
        display: flex;
        position: relative;
        align-items: center;
        height: 0;
        border: 2px solid $primary-white;
        margin-bottom: 5px;

        .passed-time-line {
            position: relative;
            left: -2px;
            height: 0;
            width: 62px;
            border: 3px solid $light-purple;
        }

        .now-music-position-circle {
            position: relative;
            left: -3px;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-color: $light-purple;
        }
    }

    .song-time-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .passed-song-time,
        .song-duration {
            font-size: 20px;
            color: $primary-white;
        }
    }

    .player-control-buttons-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;

        button {
            width: 40px;
            height: 40px;

            img {
                -webkit-user-drag: none;
            }

            &:last-child {
                transform: rotate(180deg);
            }
        }
    }
}