@font-face {
    font-family: 'Jaini Purva';
    src: url('../assets/fonts/Jaini_Purva/JainiPurva-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}