@use './fonts' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(circle, rgba(46, 0, 107, 1) 45%, rgba(67, 3, 112, 1) 97%);
    font-family: 'Jaini Purva';
}