.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .drag-area {
        -webkit-app-region: drag;
        position: fixed;
        top: 0;
        left: 0;
        height: 20px;
        width: 100%;
    }

    button {
        margin: 30px;
    }
}